.wrapper {
  flex-grow: 1;
  display: flex;
  height: 100%;
  padding: 5px;
  background-color: #f0ebeb;
  border-radius: 10px;
  overflow: hidden;
}

.section {
  flex: 1 0 0%;
  position: relative;
  padding: 10px 15px;
  max-width: 50%;

  &-graphiql {
    display: flex;
    flex-direction: column;
    background-color: white;
    border-radius: 10px;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.5);
  }
}

.query-wrapper {
  display: flex;
  font-weight: 100;
  flex: 2.35907 1 0%;
  gap: 15px;
  height: 100%;
}

.codemirror-wrapper {
  position: relative;
  height: 100%;
  flex: 1 1 0%;
  outline: none;
}

.source {
  background-color: #f0ebeb;
  border-radius: 5px;
  padding: 2px;
  text-align: center;
  margin-bottom: 5px;

  &__link {
    color: unset;

    &:hover {
      color: #777;
    }
  }
}