.wrapper {
  display: flex;
  flex-direction: row;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 0 0.5rem;
}

.documentation {
  width: 18rem;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  transition: ease 0.3s;

  @media (max-width: 568px) {
    display: none;
  }

  &::-webkit-scrollbar {
    width: 0.7rem;
  }

  &::-webkit-scrollbar-track {
    background: lightgrey;
    margin: 0 1rem 0 0;
    border-radius: 1rem;
  }

  &::-webkit-scrollbar-thumb {
    background-color: grey;
    border-radius: 1rem;
  }
}

.hidden {
  display: block;
  width: 3rem;
  transition: ease 0.3s;
}

.button {
  width: 2rem;
  height: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.title {
  font-size: 1.25rem;
  font-weight: 700;
  margin-bottom: 0.5rem;
}

.title_text {
  font-size: 0.75rem;
  margin-bottom: 0.5rem;
}

.subtitle {
  font-weight: 600;
}

.link {
  color: chocolate;
  cursor: pointer;

  &:hover {
    text-decoration: underline;
  }
}

.padding {
  margin-left: 0.53rem;
}

.browser {
  width: 100%;
}
