.wrapper {
  display: flex;
  flex-direction: row;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 0 0.5rem;
}

.documentation {
  min-width: 18rem;
  display: flex;
  flex-direction: column;
}

.title {
  font-size: 1.25rem;
  font-weight: 700;
  margin-bottom: 0.5rem;
}

.title_text {
  font-size: 0.75rem;
  margin-bottom: 0.5rem;
}

.subtitle {
  font-weight: 600;
}

.link {
  color: chocolate;
  cursor: pointer;

  &:hover {
    text-decoration: underline;
  }
}

.padding {
  margin-left: 0.53rem;
}

.browser {
  width: 100%;
}
